<div class="row" id="c">
<div class="card text-white bg-info mb-3 shw"  >
  <div class="card-header"><strong>PROFILE OF   <%= @user.name %></strong></div>
  <div class="card-body">
    <h5 class="card-title">USER EMAIL ID:<%= @user.email %></h5>
    <p class="card-text">
                         FIRST NAME: <%= @user.name %><br>
                         LAST  NAME: <%= @user.lastname %><br>
                       

    </p>
  </div>
  <%= link_to  'Back to users',
              users_path, :class => 'btn btn-info'  %>
 
</div>

</div>
